
body {
    margin: 0px;
}

.main_bfc {
    margin: 30px 30px;
    overflow: hidden;
}

.continer {
    float: left;
}

/*每一行*/
.row1 {
    border: 1px solid black;
    /* 给边框留距离 */
    width: 906px;
    height: 302px;
    display: block;

}

.row2 {
    border: 1px solid black;
    /* 给边框留距离 */
    width: 906px;
    height: 302px;
    display: block;

}

.row3 {
    border: 1px solid black;
    /* 给边框留距离 */
    width: 906px;
    height: 302px;
    display: block;
}


/* bfc？
BFC解决高度塌陷, 外边距重叠，清除浮动问题，
创建BFC容器的条件：
根标签
overflow:不为visible的属性，父元素有高度 避免使用hidden属性
display：inline-block、table-cell、table-caption、flex等
position：absolute、fixed
元素设置浮动：float 除 none 以外的值 */

#row1-col1 {
    float: left;
    width: 298px;
    height: 298px;
}

#row1-col1-element1 {
    width: 98px;
    height: 300px;
    background-color: #FF7F27;
    float: left;
    border: 1px solid black;
}

#row1-col1-element2 {
    width: 98px;
    height: 300px;
    background-color: #880015;
    float: left;
    border: 1px solid black;
}

#row1-col1-element3 {
    width: 98px;
    height: 300px;
    background-color: #00A2E8;
    float: left;
    border: 1px solid black;
}

.row1-col2 {
    background-color: #C3C3C3;
    border: 1px solid;
    float: left;
    width: 302px;
    height: 300px;
}

#row1-col2-element1 {
    background-color: #00A2E8;
    border-radius: 150px;
    height: 250px;
    width: 250px;
    border: 3px solid;
    float: left;
    margin: 22px 22px;
}

.row1-col3 {
    background-color: #FFAEC9;
    display: block;
    width: 302px;
    height: 100%;
    float: left
}

#row1-col3-element1 {
    width: 0;
    height: 0;
    border-top: 300px solid #22B14C;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    display: block;
}

.row2-col1 {
    width: 300px;
    height: 300px;
    display: block;
    float: left;
}

#row2-col1-element1 {
    width: 300px;
    height: 100px;
    background-color: #7092BE;
    border: 1px solid;
    float: left
}

#row2-col1-element2 {
    width: 300px;
    height: 100px;
    background-color: #A349A4;
    border: 1px solid;
    float: left
}

#row2-col1-element3-1 {
    width: 198px;
    height: 100px;
    background-color: #00A2E8;
    border: 1px solid;
    float: left;
}

#row2-col1-element3-2 {
    width: 98px;
    height: 100px;
    background-color: #FFF200;
    border: 1px solid;
    float: left;
}

.row2-col2 {
    background-color: #ED1C24;
    display: block;
    height: 304px;
    width: 302px;
    float: left;
}

#row2-col2-element1 {
    width: 0;
    height: 0;
    border-bottom: 80px solid #FFF200;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    transform: translate(120px, 20px);
    position: inherit;
}

#row2-col2-element1::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 70px solid #FFF200;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
    transform: translate(-111px, 75px) rotate(30deg);
    position: absolute;
}

#row2-col2-element1::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 70px solid #FFF200;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
    transform: translate(-127px, 75px) rotate(328deg);
    position: absolute;
}

.row2-col3 {
    width: 302px;
    height: 302px;
    display: block;
    float: left;
    /*    background-color: green;*/
    border: 1px solid black;
}

/*    <div id="row2-col3-element1"></div>
            <div id="row2-col3-element2"></div>
            <div id="row2-col3-element3"></div>
            <div id="row2-col3-element4"></div>*/
#row2-col3-element1 {
    background-color: #FF7F27;
    width: 198px;
    height: 100px;
    border: 1px solid;
    float: left;
}

#row2-col3-element2 {
    background-color: #B5E61D;
    width: 100px;
    height: 100px;
    border: 1px solid;
    float: left;
}

#row2-col3-element3 {
    background-color: #FFAEC9;
    width: 198px;
    height: 200px;
    border: 1px solid;
    float: left;
}

#row2-col3-element4 {
    background-color: #C8BFE7;
    width: 100px;
    height: 200px;
    border: 1px solid;
    float: left;
}

.row3-col1 {
    width: 300px;
    height: 300px;
    background-image: url("20230708_222123.jpg");
    background-size: cover ;
    display: block;
    float: left;
    border: 1px solid black;
}

.row3-col2 {
    background-color: #EFE4B0;
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid;
    display: block;
}
#row3-col2-element1 {
    background-color: #22B14C;
    width: 200px;
    height: 100px;
    border: 3px solid black;
    margin: 100px 50px 100px 50px;
    border-top-left-radius: 10px 10%;
    border-bottom-right-radius: 10px 10%;
}
.row3-col3 {
    background-color: transparent;
    width: 300px;
    height: 300px;
    float: left;
    border: 1px solid;
    display: block;
}
#row3-col3-element1 {
    width: 150px;
    height: 0;
    border-bottom: 100px solid green;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    margin: 100px 50px;

    box-shadow: -20px 20px 2px red;/* x y blur color */
}